@charset "UTF-8";

body{
	background-color:#eaffff;
	/*background-color: rgba(137, 196, 244, 1);*/
}
/* Immagine di sfondo mare con sedia sdraio*/
.bg_top {
  background-image: url("https://cdn.wallpapersafari.com/89/32/wH59sO.jpg");
  position:relative;
  height: 700px; 
  width: 100%;
  background-attachment:scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.descrizione{
 background-color: rgba(0,0,0, 0.3);
}
 
 
/* NAVBAR */
.navbar {
  position:absolute;
  width: 98%;
  height: 50px;
  background-color: transparent;
  overflow: auto;
  z-index:1;
}

/* Navbar links */
.navbar a{
  float: left;
  text-align: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  color: white;
}

/* Current/active navbar link */
.active {
  background-color: #72a1ff;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
/* ------Scelta lingua------- */
.dropbtn {
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
 /* background-color: #b3c9f7;*/
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: transparent;
  min-width: 16px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;

}

.dropdown a:hover {/*background-color: #366fe8;*/}

.show {display: block;}



/* MENU LATERALE */

#mySidenav_left a {
  position: fixed; /* Position them relative to the browser window */
  left: -50px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 8px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: black; /* White text color */
  border: 2px solid black;
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  z-index: 3;
}

#mySidenav_left a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
	background-color: #72a1ff;
}


#opzione1 {
  top: 150px;
}
#opzione2 {
  top: 210px;
  
}
#opzione3 {
  top: 275px;
}
/* Parte centrale */

.bordo_div{
	
	border: 2px ;
	border-color:"transparent";
	border-style: outset;
	padding: 15px;
	border-radius: 5px 5px 5px 5px ;
	background-image: linear-gradient(to top right, #FFFFFF 0%, #AACFEF 100%);
	background-color:#adddea ;
	
	
}
.bordo_div:hover{
	border: 2px ;
	border-color:blue;
	opacity:0.85;
	border-style: outset;
	padding: 10px;
	border-radius: 5px 5px 5px 5px ;
	background-color:white ;
	transform: scale(1.1); 
}

.txt_hover:hover{

	 transition: 2s;
	transform: scale(1.1); 
}

.trasp_img {
        margin-right:15px;
        width:28%;
        text-align:center;
        opacity:0.5;
        transition: opacity 2s linear;
        position: relative; 
	    overflow: hidden; 
	    margin:40px;
	    float:left;
    }
.trasp_img:hover{
    opacity:1;
    transform: scale(1.05); 
}


.trasp_img p {
     position: relative; 
     left: 0; 
     opacity:0.3;
     bottom: 0; 
	 color: black; 
     display: none;   
     font-family: Sofia;
     font-size: 25px;
}
.trasp_img:hover p{	
	display:block;
	opacity:1;
	z-index:1;
}


.footer-bottom{
	position: relative;
	width: 100%;
	height: 250px; 
	background-color: #72a1ff;
	color: black;

}

.posizionamento_riga_dx{
	position: relative;
	width: 33%;
	padding: 10px;
}
.posizionamento_riga_centrale{
	position: relative;
	width: 33%;
	top: -125px;
	left: 35%;
	padding: 10px;
}
.posizionamento_riga_sx{
	position: relative;
	width: 33%;
	top: -276px;
	left: 70%;
	padding: 10px;
}
.posizionamento_riga_centrale a:link {
  background-color: none;
  color: black;
}





