@charset "UTF-8";


/* Immagine di sfondo mare con sedia sdraio*/
.bg_top {
  background-image: url("https://www.formazione.divingservice.info/wp-content/uploads/2016/06/bagnini2a-1170x780.png");
  position:relative;
  height: 500px; 
  width: 100%;
  background-attachment:scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
 
 .txt_hover:hover{

	transition: 2s;
	transform: scale(1.1); 
}

 
 .img_ombrellone:hover{
	border: none ;
	border-radius: 5px 5px 5px 5px;
	transition: 0.2s;
	border-style: none;
	padding: 10px;
	border-radius: 5px 5px 5px 5px ;
 	background-color:#6fff45 ; 
/* 	background-color:#ff0700 ; occupato */
	transform: scale(1.1); 
}

.ristorante:hover{
	border: none ;
	border-radius: 5px 5px 5px 5px;
	transition: 0.2s;
	border-style: none;
	padding: 5px;
	border-radius: 5px 5px 5px 5px ;
 	

	transform: scale(1.1); 
}

 
/* NAVBAR 2*/


.navbar {
    position:absolute;
  width: 100%;
  height: 40px;
  background-color: #004fcb;
  overflow: auto;
 
}


/* Navbar links con a */

.navbar a{
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links con mouse-over */
.navbar a:hover {
  background-color: #366fe8;
}

/* Navbar link attivo*/
.active {
  background-color: #72a1ff;
}




/* MENU LATERALE */

#mySidenav_left a {
  position: fixed; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 8px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  z-index: 3;
}

#mySidenav_left a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}


#opzione1 {
  top: 150px;
  background-color: #a7f0ff;

}
#opzione2 {
  top: 210px;
  background-color: #1a70f0; 
  
}

#opzione3 {
  top: 270px;
  background-color: #a7f0ff; 
}
#opzione4 {
  top: 330px;
  background-color: #1a70f0;
  
  }
/* Parte centrale */



/* .trasp_img { */
/*         margin-right:15px; */
/*         width:28%; */
/*         text-align:center; */
/*         opacity:0.5; */
/*         transition: opacity 2s linear; */
/*         position: relative;  */
/* 	    overflow: hidden;  */
/* 	    margin:40px; */
/* 	    float:left; */
/*     } */
/* .trasp_img:hover{ */
/*     opacity:1; */
/*     transform: scale(1.05);  */
/* } */


/* .trasp_img p { */
/*      position: relative;  */
/*      left: 0;  */
/*      opacity:0.3; */
/*      bottom: 0;  */
/* 	 color: black;  */
/*      display: none;    */
/*      font-family: Sofia; */
/*      font-size: 25px; */
/* } */
/* .trasp_img:hover p{	 */
/* 	display:block; */
/* 	opacity:1; */
/* 	z-index:1; */
/* } */


.contenitore{
	/*position: relative;
	background-color:red;  
	width: 100%;
	height: 100%;*/ 
	
  background-image: url("../immagini/mappa_vuota.jpg");
  position:absolute;
  height: 1020px; 
  width: 1180px;
  background-attachment:scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 13%;
	
}





/* Parte bassa */

.footer-bottom{
	position: absolute;
	bottom:-2030px;
	float: bottom;
	width: 100%;
	height: 250px; 
	background-color: #004fcb;
	color: white;

}

.posizionamento_riga_dx{
	position: relative;
	width: 33%;
	padding: 10px;
}
.posizionamento_riga_centrale{
	position: relative;
	width: 33%;
	top: -125px;
	left: 35%;
	padding: 10px;
}
.posizionamento_riga_sx{
	position: relative;
	width: 33%;
	top: -276px;
	left: 70%;
	padding: 10px;
}
.posizionamento_riga_centrale a:link {
  background-color: none;
  color: white;
}

/* ------Scelta lingua------- */
.dropbtn {
  background-color: #004fcb;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #366fe8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #72a1ff;
  min-width: 16px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

.dropdown a:hover {background-color: #366fe8;}

.show {display: block;}


